.container {
    width: 100%;
    max-width: var(--container-max-width);
    margin-inline: auto;
    padding-inline: var(--container-padding);
}

main > section {
    padding: calc(var(--spacing-xl) * 2);
}

footer {
    padding: var(--spacing-xl);
}
